<a href="https://colab.research.google.com/github/spoortidaroji/Python_Workshop/blob/master/Day_2_session_1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List  exercises**

**Python program to print multiples of 3 upto 200 using a list**

In [1]:
list=[x for x in range(300) if x%3==0]
print (list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]

**Print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)**

In [3]:
list=[x for x in range(1000,2000) if x%5==0 and x%7==0]
print(list)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

**Add the n number of names in a list and print them alphabetically and reverse alphabetically**

In [9]:
names=['Pooja','Jhon','Joy','Moni','Shri','Sonu']
names.sort()
print('Names in alphabetical order: ',names)
names.sort(reverse=True)
print('Names in reverse alphabetical order: ',names)

Names in alphabetical order:  ['Jhon', 'Joy', 'Moni', 'Pooja', 'Shri', 'Sonu']
Names in reverse alphabetical order:  ['Sonu', 'Shri', 'Pooja', 'Moni', 'Joy', 'Jhon']

**Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list**

In [12]:
import math
List=[]
for x in range(500,1000):
    root=math.sqrt(x)
    if int(root+0.5)**2==x:
        if x%5==0:
            List.append(x)
print(List)

[625, 900]

**Calculate the Average of  the numbers in a List by getting the elements of list from keyboard.**

In [15]:
import numpy as np
List=[]
num=int(input("Enter the number of elements"))
print('Enter the elements: ')
for i in range(num):
  List.append(int(input()))
print('Average Of The Numbers Is: ',np.mean(List))

Enter the number of elements5
Enter the elements:
5
9
22
88
15
Average Of The Numbers Is:  27.8

**Print lists of odd,even and multiples of 5 numbers from 1 to 1000 using list comprehension**

In [19]:
List=[x for x in range(1,1000) if ((x%2==0 or x%2!=0) and (x%5==0))]
print(List)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

**Tuples Exercise**

**Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number**

In [20]:
List=[(x,x**2) for x in range(int(input('Enter Lower Rnaage: ')),int(input('Enter Upper Range: ')))]
print(List)2

Enter Lower Rnaage: 2
Enter Upper Range: 6
[(2, 4), (3, 9), (4, 16), (5, 25)]

**Write python program to have a list of words  to sort them from  shortest to longest using list of tuples**

In [21]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = []
for word in words:
   t.append((len(word), word))
t.sort(reverse=False)
 
res = []
for length, word in t:
    res.append(word)
 
print(res)

['in', 'but', 'soft', 'what', 'light', 'breaks', 'window', 'yonder']

**Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them Rollno wise ascending order**

In [22]:
List=[]
for i in range(0,5):
    usn=input('Enter RollNumber: ')
    name=input('Enter Student Name: ')
    List.append((name,usn))
 
print(sorted(List, key = lambda x: x[1]))

Enter RollNumber: 565
Enter Student Name: Jhon
Enter RollNumber: 589
Enter Student Name: Joy
Enter RollNumber: 987
Enter Student Name: Tom
Enter RollNumber: 877
Enter Student Name: Joe
Enter RollNumber: 888
Enter Student Name: Pooh
[('Jhon', '565'), ('Joy', '589'), ('Joe', '877'), ('Pooh', '888'), ('Tom', '987')]

**Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them by Name wise ascending order**

In [24]:
 List=[]
for i in range(0,5):
    usn=input('Enter RollNumber: ')
    name=input('Enter Student Name: ')
    List.append((usn,name))
 
print(sorted(List, key= lambda x: x[1]))

Enter RollNumber: 565
Enter Student Name: Jhon
Enter RollNumber: 589
Enter Student Name: Joy
Enter RollNumber: 987
Enter Student Name: Tom
Enter RollNumber: 877
Enter Student Name: Joe
Enter RollNumber: 888
Enter Student Name: Pooh
[('565', 'Jhon'), ('877', 'Joe'), ('589', 'Joy'), ('888', 'Pooh'), ('987', 'Tom')]