<a href="https://colab.research.google.com/github/spoortidaroji/Python_Workshop/blob/master/Day_3_session_2_sample_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Finding the factorial of a number**

In [1]:
#Python Program to find the factorial of a number using loop. 
n=int(input("Enter number:"))
fact=1
while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:4
Factorial of the number is:
24

** Program for multiples of 2 of a list without list comprehension**

In [2]:
 x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
  result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

** Single line program of Pythonic coding**

In [3]:
 print([i*2 for i in [1, 2, 3, 4, 5, 6] ])

[2, 4, 6, 8, 10, 12]

** More Pythonic program of 3 lines!**

In [4]:
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no: '))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no: 6
720

**Number and its square as Tuple for a range**

In [5]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:1
Enter the upper range:9
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

** The most Pythonic program of a sinle line program is given below**

In [6]:
 print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:0
Enter the upper range:3
[(0, 0), (1, 1), (2, 4), (3, 9)]

**Finding the perfect squares**

In [7]:
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
  if int(sqrt(i))**2==i:
    result.append(i)
print(result)

[4, 0, 9, 16, 1]

** Pythonic program of 3 lines!**

In [8]:
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
filtered_result = filter(lambda x: int(sqrt(x))**2==x, sequences) 
print(list(filtered_result))

[4, 0, 9, 16, 1]

** Program to find the largest number in the list**

In [9]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:4
Enter element:8
Enter element:5
Enter element:22
Enter element:0
Largest element is: 22

** Try this More pythonic 2 lines program equivalent to above codings as shown below !**

In [11]:
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no2
56
65
The greatest no is 65

**Program to put the even and odd elements in a list into two different lists.**

In [12]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:4
Enter element:22
Enter element:33
Enter element:44
Enter element:66
The even list [22, 44, 66]
The odd list [33]

**Instead of forementioned 14 lines program, the equivalent 4 lines !
Pythonic program is here ....**

In [13]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('odd list is',[ i for i in l if i%2])
print('even list is',[i for i in l if not i%2])

Enter n5
5
9
4
2
0
odd list is [5, 9]
even list is [4, 2, 0]

**Python Program to merge two lists and sort it.**

In [14]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:8
Enter element:9
Enter element:7
Enter element:10
Enter element:5
Enter number of elements:4
Enter element:7
Enter element:22
Enter element:10
Enter element:33
Sorted list is: [5, 7, 7, 8, 9, 10, 10, 22, 33]

**Instead of forementioned 13 lines program, the equivalent 5 lines !**

In [15]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements6
1
5
16
24
07
20
Enter how many elements 5
3
2
6
26
11
Sorted list is: [1, 2, 3, 5, 6, 7, 11, 16, 20, 24, 26]

**Python Program to sort the list according to the second element in the sublist.**

In [16]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

**Instead of forementioned 8 lines program, the equivalent 3 lines !**

In [17]:
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1]) 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

**Program to find second largest elment in the list**

In [18]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:4
Enter element:22
Enter element:31
Enter element:11
Enter element:10
Second largest number is: 22

**Instead of forementioned 12 lines program, the equivalent 4 lines progam !**

In [19]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements3
56
12
23
Second largest element is : 23

**Program to create a list of tuples with the first element as number and second Elements is its square**

In [20]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:4
Enter the upper range:22
[(4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484)]

**The aforementioned program is already pythonic.We can still make it more pythonic as follows**

In [21]:
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)]
print(a)

Enter the lower range:2
Enter the upper range:4
[(2, 4), (3, 9), (4, 16)]

**Of course, We can write in the most pythonic way with one line ! as follows**

In [22]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:1
Enter the upper range:3
[(1, 1), (2, 4), (3, 9)]

**Program to generate random numbers from 1 to 20 and append them to the list.**

In [23]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:4
Randomised list is:  [10, 2, 19, 15]

**Pythonic program of 2 lines!**

In [24]:
import random
l=[random.randint(1,20) for _ in range(int(input("Enter how many elements")))]
print('Randomised list is: ',l)

Enter how many elements5
Randomised list is:  [12, 12, 20, 18, 18]

**Program for printing list of values with indexing**

In [25]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
index=0
for i in names:
    print(str(index)+":"+i)
    index=index+1

0:Jan
1:Feb
2:Mar
3:Apr
4:May
5:Jun
6:Jul
7:Aug
8:Sep
9:Oct
10:Nov
11:Dec

**using Pythonic way using enumerate()!**

In [26]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for index, value in enumerate(names):
    print(f'{index+1}: {value}')

1: Jan
2: Feb
3: Mar
4: Apr
5: May
6: Jun
7: Jul
8: Aug
9: Sep
10: Oct
11: Nov
12: Dec